.role {
  font-size: smaller;
  line-height: 1.7;
}

.roleHeader {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */

  padding-bottom: 1rem;
  line-height: 1.75;
}

@media only screen and (min-width: 768px) {
  .roleHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.roleCompany b {
  margin-right: 0.5rem;
}

.projectLink {
  position: relative;
  top: -2px;
  font-size: x-small;
  text-decoration: none;
  color: #2ecc71;
  border: solid 1px #2ecc71;
  padding: 0.55rem 0.35rem;
  display: inline-block;
  border-radius: 2px;
}

.roleDate {
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .roleDate {
    text-align: right;
  }
}

.roleTaskList {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 1rem;
  border-bottom: solid 2px rgba(0, 0, 0, 0.125);
}

.roleTask {
  margin-bottom: 0.5rem;
}

.tag {
  display: inline-block;
  color: black;
  border: solid 1px black;
  font-size: small;
  line-height: 1;
  margin-top: 0.35rem;
  margin-right: 0.25rem;
  padding: 0.25rem 0.33rem;
  border-radius: 2px;
}
