.about {

}

.title {
  margin-bottom: 50px;
}

.intro > span {
  display: block;
  margin-bottom: 18px;
  font-size: 26px;
}

.telNo,
.email,
.github,
.linkedIn {
  display: inline-block;
  opacity: 0;
  animation: media-animation .8s linear forwards;
  -webkit-animation: media-animation .8s linear forwards;
  cursor: pointer;
  transition: ease .8s all;
  color: #546e7a;
  width: fit-content;
}

.telNo:active,
.email:active,
.github:active,
.linkedIn:active {
  animation: none;
}

@keyframes media-animation {
  from {
    opacity: 0;
    transform: translateY(-14px);
  }

  to {
    opacity: 1;
    transform : translateY(0);
  }
}

.smooth {
  transition: all 2s ease;
  width: fit-content;
}