.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  transition: top 0.1s ease-in-out;
  width: 100%;
  position: fixed;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
  /* flex: 0 1 auto; */
}
@media only screen and (min-width: 768px) {
  .wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.logoWrapper {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.thumbnail {
  display: none !important;
  width: 50px;
}
@media only screen and (min-width: 400px) {
  .thumbnail {
    display: block !important;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
}

.siteTitle {
  font-size: larger;
  font-weight: 700;
  line-height: 1;
}

.siteSubTitle {
  font-size: small;
  line-height: 1;
  display: block;
  margin-top: 0.25rem;
}
